@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.main-container {
    background: linear-gradient(to bottom right, #0e151d, #3a4147af);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
}

.employee-list-container {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    background: linear-gradient(to bottom right, #d8dadd98, #070f1daf);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.header-container h1 {
    margin: 0;
    font-size: 4rem;
    position: relative;
    font-family: 'Outfit', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #172741ef;
    z-index: 1;
}

.header-container .btn {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #2c3e50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-warning {
    margin-right: 8px;
}

.data {
    font-family: 'Outfit', sans-serif;
    font-size: 1.45em;
    color: #333;
    padding-right: 30px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 98, 119, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: linear-gradient(to bottom right, #47495083, #757b86af);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #2c3e50;
    color: #172741ef;
    font-family: 'Outfit', sans-serif;
    font-size: 2em;
    padding-left: 3%;
    padding-right: 3%;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 300;
    color: #d1dae2;
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-top: 10px;
    font-size: 1.4rem;
    color: #d6dadd;
}

.modal-content form input,
.modal-content form select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f2f2f2;
    color: #333;
}

.modal-content form button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content form button[type="submit"] {
    background-color: #2c3e50ad;
    color: #fff;
}

.modal-content form button[type="button"] {
    background-color: #f2f2f2;
    color: #333;
}

.modal-content form button:hover {
    opacity: 0.85;
}

.modal-content .delete-text {
    font-size: 2rem;
    margin-top: 10px;
    color: #051f33;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .data {
        font-size: 1em;
    }

    .employee-list-container {
        padding: 10px;
    }

    th, td {
        padding: 8px;
    }

    .header-container .btn {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
}

@media (max-width: 600px) {
    .header-container .btn {
        font-size: 0.5rem;
        padding: 8px 16px;
    }
}

@media (max-width: 495px) {
    .header-container .btn {
        font-size: 0.4rem;
        padding: 8px 12px;
    }
}